h1 {
  color:blue;
  text-align: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

th {
  background-color: lightgrey;
}

#table1 {
  font-family: Airal, sans-serif;
  font-size: 18px;
}

#header {

}

#nav {

}

#section {

}

#footer {

}

.vname {
  font-weight: bold;
}

@media (min-width: 500px) {
  body {
    background-color: lightblue;
  }
}


@media (max-width: 499px) {
  body {
    background-color: lightgrey;
  }
}
