h1 {
  color:blue;
  text-align: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

th {
  background-color: lightgrey;
}

#table1 {
  font-family: Airal, sans-serif;
  font-size: 18px;
}

#header {

}

#nav {

}

#section {

}

#footer {

}

.vname {
  font-weight: bold;
}

@media (min-width: 500px) {
  body {
    background-color: white;
  }
}

@media (max-width: 499px) {
  body {
    background-color: lightgrey;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;

}

.container -> div {
  background-color: lightblue;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;

}

.grid {
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 200px 200px auto;


}

.grid-item {
  background-color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;


}
